<div
  class="
    Rgba-color__box
    Rgba-color__box--{{if useBlackText 'black' 'white'}}
    "
  style="
    background-color: rgba({{red}},{{green}},{{blue}},{{alpha}});
    ">

    Red: {{red}}<br />
    Green: {{green}}<br />
    Blue: {{blue}}<br />
    Alpha: {{alpha}}<br />

</div>
